    body{
        background-color: #f59e9e;
    }
    .wrapper{
        width: 100%;
        max-width: 1200px;

        .about{
            background-color: yellow;
            color: red;
        }
        .card{
            width: 40%;
        }
    }
